
body{
    margin: 0px;
}

div{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

img{

    position: absolute;
    left: -175px;
    bottom: -80px;
    height: 300px;
}