
body{
    
    background-color: rgb(94, 90, 90);

    margin: 0px;
    
}


.problem4{
    background-color: tomato;
    width: 300px;
    color: white; 
}

h1{
    margin: 0px;
}

p{
    margin: 0px;
}

.problem5{
    background-color: purple;
    width: 300px;
    color: white; 
    
}

.problem6{
    background-color: navy;
    width: 300px;
    color: white;
}

.problem7{
    background-color: tomato;
    width: 300px;
    color: white; 
    
}

