.whitebox {
    background-color: white;
    color: black;
    padding: 50px;
}
.playfair {
    font-family: 'Playfair Display', serif;
}
#container{
    width: 300px;
    background: white;
}
#floated{
    float: center;
    width: 1080px;
    background: white;
}