<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login2.css">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <a href="/">
              <img src="/images/dev3.png" alt="logo" class="logo">
              <span class="text-dark display-4">Hola Mundo!</span>
            </a>
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Node Lectures</h1>
            
            <ul>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week07/1-Monday">Node 101</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week07/2-Tuesday">Express Middleware</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week07/3-Wednesday">EJS, Node Modules</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week07/4-Thursday">Forms & Redirects, Debugging</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week07/5-Friday">Hosting on Heroku</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week08/1-Monday">WebSockets with Socket.io</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week08/1-Monday">SQL 101</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week08/2-Tuesday">SQL Relationships, Distincts & Subselects</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week08/3-Wednesday">PG-Promise</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week08/4-Thursday">Sequelize</a></li>
              <li><a target="_blank" href="https://github.com/DigitalCraftsStudents/web-ft-09-2021/tree/main/lectures/week08/5-Friday">Storing Passwords, Sessions, Passport</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="/images/nodejs.jpeg" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
