<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9 Grids</title>
    <link rel="stylesheet" href="../css/9grids.css">
</head>
<body>

    <div class="pos1">Top Left</div>
    <div class="pos2">Top Middle</div>
    <div class="pos3">Top Right</div>
    <div class="pos4">Middle Left</div>
    <div class="pos5">Middle</div>
    <div class="pos6">Middle Right</div>
    <div class="pos7">Low Left</div>
    <div class="pos8">Low Middle</div>
    <div class="pos9">Low Right</div>

    
</body>
</html>