# untrack: git rm -r  --cached 3-Wednesday
# track: git add -f week01/3-Wednesday
# package-lock.json

# build.sh
# file.sh

# week01
# /week01/1-Monday
/week01/1-Monday/homework
/week01/1-Monday/labs
/week01/1-Monday/lectureCode

# week01/2-Tuesday
# /week01/2-Tuesday/homework
/week01/2-Tuesday/homework/solutions
# /week01/3-Wednesday
# /week01/3-Wednesday/homework
/week01/3-Wednesday/homework/solutions
# /week01/4-Thursday
# /week01/4-Thursday/homework
/week01/4-Thursday/homework/solutions
# /week01/5-Friday
# /week01/5-Friday/homework
/week01/5-Friday/homework/solutions


# week02
# week02/1-Monday
/week02/1-Monday/homework
/week02/1-Monday/homework/solutions
# /week02/2-Tuesday
/week02/2-Tuesday/homework
/week02/2-Tuesday/homework/solutions
# /week02/3-Wednesday
/week02/3-Wednesday/labs
/week02/3-Wednesday/homework
/week02/3-Wednesday/homework/solutions
# /week02/4-Thursday
/week02/4-Thursday/homework
/week02/4-Thursday/homework/solutions
# /week02/5-Friday
# /week02/5-Friday/homework
/week02/5-Friday/homework/solutions

# week03
# /week03/1-Monday
/week03/1-Monday/homework
# /week03/2-Tuesday
/week03/2-Tuesday/homework
# /week03/3-Wednesday
# /week03/3-Wednesday/homework
# /week03/4-Thursday
# /week03/4-Thursday/homework
# /week03/5-Friday
# /week03/5-Friday/homework

# week04
# /week04/1-Monday
# /week04/1-Monday/homework
# /week04/2-Tuesday
/week04/2-Tuesday/homework
# /week04/3-Wednesday
# /week04/3-Wednesday/homework
# /week04/4-Thursday
# /week04/4-Thursday/homework
# /week04/5-Friday
# /week04/5-Friday/homework

# week05
# /week05/1-Monday
# /week05/1-Monday/homework
# /week05/2-Tuesday
# /week05/2-Tuesday/homework
# /week05/3-Wednesday
/week05/3-Wednesday/homework
# /week05/4-Thursday
# /week05/4-Thursday/homework
# /week05/5-Friday
# /week05/5-Friday/homework

# week06
# /week06/1-Monday
/week06/1-Monday/homework
# /week06/2-Tuesday
/week06/2-Tuesday/homework
# /week06/3-Wednesday
/week06/3-Wednesday/homework
# /week06/4-Thursday
/week06/4-Thursday/homework
# /week06/5-Friday
/week06/5-Friday/homework

# week07
/week07/1-Monday
/week07/1-Monday/homework
/week07/2-Tuesday
/week07/2-Tuesday/homework
/week07/3-Wednesday
/week07/3-Wednesday/homework
/week07/4-Thursday
/week07/4-Thursday/homework
# /week07/5-Friday
/week07/5-Friday/homework

# week08
# /week08/1-Monday
# /week08/1-Monday/homework
# /week08/2-Tuesday
# /week08/2-Tuesday/homework
# /week08/3-Wednesday
/week08/3-Wednesday/homework
/week08/4-Thursday
/week08/4-Thursday/homework
# /week08/5-Friday
/week08/5-Friday/homework

# week09
# /week09/1-Monday
# /week09/1-Monday/homework
# /week09/2-Tuesday

# /week09/2-Tuesday/homework
# /week09/3-Wednesday
/week09/3-Wednesday/homework
# /week09/4-Thursday
/week09/4-Thursday/homework
# /week09/5-Friday
/week09/5-Friday/homework

# week10
# /week10/1-Monday
/week10/1-Monday/homework
# /week10/2-Tuesday
/week10/2-Tuesday/homework
# /week10/3-Wednesday
/week10/3-Wednesday/homework
/week10/4-Thursday
/week10/4-Thursday/homework
/week10/5-Friday
/week10/5-Friday/homework

week11
/week11/1-Monday
/week11/1-Monday/homework
/week11/2-Tuesday
/week11/2-Tuesday/homework
/week11/3-Wedxnesday
/week11/3-Wednesday/homework
/week11/4-Thursday
/week11/4-Thursday/homework
/week11/5-Friday
/week11/5-Friday/homework

week12
/week12/1-Monday
/week12/1-Monday/homework
/week12/2-Tuesday
/week12/2-Tuesday/homework
/week12/3-Wednesday
/week12/3-Wednesday/homework
/week12/4-Thursday
/week12/4-Thursday/homework
/week12/5-Friday
/week12/5-Friday/homework

week13
/week13/1-Monday
/week13/1-Monday/homework
/week13/2-Tuesday
/week13/2-Tuesday/homework
/week13/3-Wednesday
/week13/3-Wednesday/homework
/week13/4-Thursday
/week13/4-Thursday/homework
/week13/5-Friday
/week13/5-Friday/homework

week14
/week14/1-Monday
/week14/1-Monday/homework
/week14/2-Tuesday
/week14/2-Tuesday/homework
/week14/3-Wednesday
/week14/3-Wednesday/homework
/week14/4-Thursday
/week14/4-Thursday/homework
/week14/5-Friday
/week14/5-Friday/homework

week15
/week15/1-Monday
/week15/1-Monday/homework
/week15/2-Tuesday
/week15/2-Tuesday/homework
/week15/3-Wednesday
/week15/3-Wednesday/homework
/week15/4-Thursday
/week15/4-Thursday/homework
/week15/5-Friday
/week15/5-Friday/homework

week16
/week16/1-Monday
/week16/1-Monday/homework
/week16/2-Tuesday
/week16/2-Tuesday/homework
/week16/3-Wednesday
/week16/3-Wednesday/homework
/week16/4-Thursday
/week16/4-Thursday/homework
/week16/5-Friday
/week16/5-Friday/homework

week17
/week17/1-Monday
/week17/1-Monday/homework
/week17/2-Tuesday
/week17/2-Tuesday/homework
/week17/3-Wednesday
/week17/3-Wednesday/homework
/week17/4-Thursday
/week17/4-Thursday/homework
/week17/5-Friday
/week17/5-Friday/homework