<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    
    <h1>Frequently Asked Questions</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cupiditate eligendi modi quidem impedit aperiam sed reprehenderit, laudantium necessitatibus dolores recusandae quam porro aliquam voluptates tempora temporibus molestiae expedita repellendus?
    </p>

</body>
</html>