<!DOCTYPE html>
<html>

<head>

    <title>Page Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel='stylesheet' href='/css/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
    
</head>

<body >
    <header>
        <div class="jumbotron hidden-xs">
        </div><!-- jumbotron -->
      
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
      
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
      
              <a href="/" class="navbar-brand">Roux Meetups</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                  <li><a href="/speakers" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"><span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/speakers">All Speakers</a></li>
                      <li role="separator" class="divider"></li>
                      
                    </ul>
                </li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a href="/chat">Chat</a></li>
              </ul><!-- nav -->
            </div><!-- navbar-collapse -->
          </div><!-- container -->
        </nav>
      </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <article class="chat">
                        <header class="chat-header">
                            <div class="h3 chat-title">Roux Chat
                            </div><!-- chat-title -->
                        </header><!-- chat-header -->
                        <form name="chatForm" class="form-horizontal chat-form">
                            <div class="form-group">
                                <label for="chat-username" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="chat-username" required
                                        placeholder="Enter your name">
                                </div><!-- col-sm-10 -->
                            </div><!-- form-group -->
                            <div class="form-group">
                                <label for="chat-message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" placeholder="Enter a message, then press enter"
                                            class="form-control" id="chat-message" rows="2" autocomplete="off" required>
                                        <span class="input-group-btn">
                                            <button id="chat-submit" class="btn btn-info" type="submit">Chat</button>
                                        </span>
                                    </div><!-- input-group -->
                                </div><!-- col-sm-10 -->
                            </div><!-- form-group -->
                        </form>
                        <div class="panel panel-default">
                            <div class="panel-body chat-display">
                                <p class="text-muted chat-text">Welcome...add your message using the form above</p>
                            </div><!-- panel-body -->
                        </div><!-- panel-default -->
                    </article><!-- article -->
                </div><!-- col-sm-12 -->
            </div><!-- row -->
        </div><!-- container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/chatClient.js"></script>
        
                
</body>

</html>