<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <div class="h-screen bg-orange-100 overflow-auto">

        <!-- Navbar -->
        <nav class="flex items-center justify-between flex-wrap bg-orange-300 p-6 mb-3">
            <div class="flex items-center flex-shrink-0 mr-6">
                <span class="font-semibold text-xl tracking-tight">Blog Functionality</span>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    <a href="/" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                        Home
                    </a>
                    <a href="/admin" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                        Admin
                    </a>
                </div>
            </div>
        </nav>

         <!-- Content -->
         <div class="w-1/2 mt-7">
            <div class="text-2xl font-bold mb-4">Comments</div>
            <% comments.forEach(comment => { %>
                <div class="border p-4 mb-4">
                    <div class="font-bold text-lg mb-2"><%= comment.username %></div>
                    <p class="mb-3"><%= comment.content %></p>
                    <% if (comment.isApproved) { %>
                        <button class="toggle-approval bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" data-id="<%= comment.id %>">
                            Unapprove
                        </button>
                    <% } else { %>
                        <button class="toggle-approval bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-id="<%= comment.id %>">
                            Approve
                        </button>
                    <% } %>
                </div>
            <% }) %>
        </div>
        

<script src="/scripts/toggle-approval.js"></script>
    
</body>
</html>